@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
body{
    background: url(img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.efecto-glass{
position: relative;
width: 400px;
height: 400px;
background-color: rgba(0, 0, 0, .2);
border-radius: 10px;
backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, .4);
}
.formulario{
    position: absolute;
    color: #fff;
    padding: 20px;
    width: 100%;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.entrada{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid  rgba(255,255,255,.4);
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    
}

.entrada input{
    display: block;
    width: 90%;
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
color: #fff; 
}
::placeholder{
    color: #ddd;
}
.opciones{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.opciones a{
    text-decoration: none;
    color: #fff;
}
button{
    display: block;
    width: 100%;
    border: none;
    background: #fff;
    padding: 7px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
}
p{
    text-align: center;
}
p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}